@use "uswds-core" as *;

.site-c-card {
  border: 1px solid color('base-light');
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}


.site-c-card--linked,
.site-c-card--linked:visited {
  box-shadow: 0 2px 8px rgba(0,0,0,0);
  color: color('base');
  display: block;
  text-decoration: none;
  transition: all .2s ease-in-out;

  * {
    outline: 0;
  }
}

.site-c-card--linked:hover,
.site-c-card--linked:focus  {
  color: color('base');

  @include at-media(tablet) {
    border: 1px solid color('primary');
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
    transform: scaleX(1.02) scaleY(1.02);
  }
}

.site-c-card__body {
  padding: units(3);

  p {
    font-size: size('body', 5);
  }
}

.site-c-card__title {
  color: color('primary-darker');
  font-weight: u-text('bold');
}

.site-c-card__image {
  display: block;
  width: 100%;
}


.site-c-card__image-mask {
  border-radius: 50%;
  overflow: hidden;
  width: 224px;
  height: 224px;
  margin: units(2) auto;

  img {
    display: block;
  }
}

.site-c-card__affordance {
  color: color('primary');
  text-decoration: u-text('underline');
}
