@use "uswds-core" as *;

.site-c-instagallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-c-instagallery__item {
  flex-basis: 50%;

  @include at-media(tablet) {
    flex-basis: 25%;
  }
}

.site-c-instagallery__link {
  display:block;
}

.site-c-instagallery__image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}