@use "uswds-core" as *;

.site-c-flag {
  color: $theme-color-primary-darkest;
  display: block;
  font-size: size('body', 2);
  font-weight:  $theme-font-weight-bold;
  margin-bottom: units(1);
  text-transform: uppercase;
}
