@use "uswds-core" as *;

.where-we-worked-item {
   flex-grow: 0;
   flex: 0 0 50% !important;
   max-width: 50%;

   @include at-media(mobile-lg) {
     flex: 0 0 25% !important;
     max-width: 25%;
   }

   @include at-media(tablet-lg) {
     flex: 0 0 20% !important;
     width: auto !important;
     max-width: 20%;
   }
}