
<footer class="site-c-footer">
  <div class="grid-container">
    <div class="grid-row flex-justify">
      <div class="grid-col-12 desktop:grid-col margin-bottom-7">
        <img class="site-c-footer__logo" src="{{ site.baseurl }}/assets/img/usds-logo-footer.svg" alt="USDS logo">
      </div>
      <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
        <h2 class="site-c-footer__heading">About USDS</h2>
        <ul class="site-c-footer__list tablet:padding-right-3">
          <li><a href="{{ site.baseurl }}{% link pages/contact-us.html %}">Contact us</a></li>
          <li><a href="https://www.usds.gov/impact-report/2024">2024 Impact Report </a></li>
          <li><a href="{{ site.baseurl }}/assets/files/{{ site.press_kit_file_name }}" target="_blank">Press sheet [PDF, 2 pages]</a></li>
          <li><a href="{{ site.baseurl }}/faq">Hiring FAQ</a></li>
        </ul>
      </div>
      <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
        <h2 class="site-c-footer__heading">Resources</h2>
        <ul class="site-c-footer__list tablet:padding-right-3">
          <li><a class="usa-link usa-link--alt usa-link--external" href="https://playbook.cio.gov/" target="_blank">Digital Services Playbook</a></li>
          <li><a class="usa-link usa-link--alt usa-link--external" href="https://sprint.usds.gov/" target="_blank">Discovery Sprint Guide</a></li>
          <li><a class="usa-link usa-link--alt usa-link--external" href="https://techfarhub.cio.gov/" target="_blank">TechFAR Hub</a></li>
          <li><a class="usa-link usa-link--alt usa-link--external" href="https://designsystem.digital.gov/" target="_blank">U.S. Web Design System</a></li>
        </ul>
      </div>
      <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
        <h2 class="site-c-footer__heading">Follow us</h2>
        {% include _social-buttons.html modifiers="site-c-social-buttons--mini" %}
      </div>
    </div>
    <div class="site-c-footer__site-info">
      <a href="mailto:USDSpress@omb.eop.gov">USDSpress@omb.eop.gov</a> | <a href="{{ site.baseurl }}/privacy">Privacy policy</a>
    </div>
  </div>
</footer>
