{% comment %}
  Include for common people card elements. Requires a corresponding data assign and wrapping div when called, relative to the template.
{% endcomment %}

<a class="site-c-card site-c-card--linked" href="{{ site.baseurl }}/{{ person.permalink }}">
  <div class="site-c-card__image-mask">
    <img src="" data-lazy-src="{{ site.baseurl }}/images/{{ person.image_name }}" alt="Photo of {{ person.name }}" />
  </div>
  <div class="site-c-card__body">
  <span class="site-c-flag">
    {% if person.alumni %}Alum{% else %}Staff{% endif %} / {{ person.cop }}
  </span>
  <h3 class="site-c-card__title">{{ person.name }}</h3>
  {% if person.quote %}
  <div class="usa-prose margin-top-3">
    <p>“{{ person.quote }}”</p>
  </div>
  {% endif %}
  <p class="site-c-card__affordance" aria-hidden="true">Read more</p>
  </div>
</a>
