{% assign titles = "Continuously Improving SSA.gov, Preparing for the Next Pandemic While Building Tech for COVID-19, Optimizing benefits for families, Critical code: building COVID-19 vaccine finder tools, Simplifying Veteran‑facing services through VA.gov, Modernizing the Medicare Payment System" | split: ", " %}  

<div class="grid-container">
  <section class="site-c-section">
    <div class="site-c-section__body">
      <ul class="site-c-cards margin-x-neg-2 grid-row">
        {% for title in titles %}
          {% assign projects = site.projects | where_exp:"project","project.title == title" %} 
          {% assign project = projects[0] %}
          {% unless project.hide %}
          {% if project.carousel_title %}
            <li class="tablet:grid-col-6 desktop:grid-col-4 padding-x-2 margin-bottom-4">
              <a class="site-c-card site-c-card--linked" href="{{ site.baseurl }}/{{ project.permalink }}">
                <img class="site-c-card__image" src="{{ site.baseurl }}/images/{{ project.carousel_image_name }}" alt="Project photo" />
                <div class="site-c-card__body">
                  <span class="site-c-flag">{{ project.agency }}</span>
                  <h3 class="site-c-card__title">{{ project.carousel_title }}</h3>
                  <div class="usa-prose margin-top-2">
                    <p>{{ project.carousel_summary }}</p>
                    <p class="site-c-card__affordance" aria-hidden="true">Learn more</p>
                  </div>
                </div>
              </a>
            </li>
          {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
