<div class="site-c-cards margin-x-neg-2 site-js-carousel">
  {% assign projects = site.projects | where_exp:"project","project.url != page.url" %}
  {% for project in projects limit:9 %}
    {% unless project.hide %}
    {% if project.carousel_title %}
      <div class="padding-x-2">
        <a class="site-c-card site-c-card--linked" href="{{ site.baseurl }}/{{ project.permalink }}">
          <img class="site-c-card__image" src="" data-lazy-src="{{ site.baseurl }}/images/{{ project.carousel_image_name }}" alt="{{ project.carousel_title }}" />
          <div class="site-c-card__body">
          <span class="site-c-flag">{{ project.agency }}</span>
          <span class="site-c-card__title">{{ project.carousel_title }}</span>
          <div class="usa-prose margin-top-2">
            <p>{{ project.carousel_summary }}</p>
            <p class="site-c-card__affordance" aria-hidden="true">Learn more</p>
          </div>
          </div>
        </a>
      </div>
    {% endif %}
    {% endunless %}
  {% endfor %}
</div>
