---
layout: default
title: Apply to USDS
description: The United States Digital Service is transforming how the federal government works for the American people. And we need you.
permalink: /apply
banner_file: banner--join-us-lg.svg
banner_file_mobile: banner--join-us-sm.svg
social_image: social-card--join-us.png

redirect_from:
  - /join
---
{% assign content = site.data.apply %}


<div class="grid-container">
  <section class="site-c-section">
    {% if content.page_alert %}
      <div class="usa-alert usa-alert--info margin-bottom-4">
        <div class="usa-alert__body">
          {% if content.page_alert.alert_heading %}
            <h3 class="usa-alert__heading">{{ content.page_alert.alert_heading }}</h3>
          {% endif %}
          <p class="usa-alert__text">{{ content.page_alert.alert_body }}</p>
        </div>
      </div>
    {% endif %}
    <div class="site-c-section-heading site-c-section-heading">
      <h1 class="site-c-section-heading__heading site-c-section-heading__heading--h1">{{ content.page_title.heading_title }}</h1>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.page_title.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/faq.html %}">{{ content.page_title.heading_button_text }}</a>
      </div>
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
      <h2 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="true"
          aria-controls="m-a1"
        >
          {{ content.page_body.accordion_header1 | markdownify }}

        </button>
      </h2>
      <div id="m-a1" class="usa-accordion__content usa-prose">
      <ol>
        <li>{{ content.page_body.accordion_item1 | markdownify }}</li>
        <li>{{ content.page_body.accordion_item2 | markdownify }}</li>
        <li>{{ content.page_body.accordion_item3 | markdownify }}</li>
        <li>{{ content.page_body.accordion_item4 | markdownify }}</li>
      </ol>
      <p>{{ content.page_body.accordion_content1 | markdownify }}</p>
      </div>
      <h2 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="m-a2"
        >
          {{ content.page_body.accordion_header2 | markdownify }}
        </button>
      </h2>
      <div id="m-a2" class="usa-accordion__content usa-prose">
        <p>
          {{ content.page_body.accordion_content2 | markdownify }}
        </p>
        <ul>
          <li>{{ content.page_body.accordion_example1 | markdownify }}</li>
          <li>{{ content.page_body.accordion_example2 | markdownify }}</li>
          <li>{{ content.page_body.accordion_example3 | markdownify }}</li>
        </ul>
      </div>
      <h2 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="m-a3"
        >
          {{ content.page_body.accordion_header3 | markdownify }}
        </button>
      </h2>
      <div id="m-a3" class="usa-accordion__content usa-prose" data-allow-multiple>{{ content.page_body.accordion_content3 | markdownify }}</div>
      <h2 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="m-a4"
        >
          {{ content.page_body.accordion_header4 | markdownify }}
        </button>
      </h2>
      <div id="m-a4" class="usa-accordion__content usa-prose" data-allow-multiple>
        <p>
          {{ content.page_body.accordion_content4 | markdownify }}
        </p>
      </div>
      <h2 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="m-a5"
        >
          {{ content.page_body.accordion_header5 | markdownify }}
        </button>
      </h2>
      <div id="m-a5" class="usa-accordion__content usa-prose" data-allow-multiple>
        <p>
          {{ content.page_body.accordion_content5a | markdownify }}
        </p>
        <div>
        <ul class="add-list-reset">
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet1 | markdownify }}</h3>
            <ul>
              <li>{{ content.page_body.accordion_bullet1_sub1 | markdownify }}</li>
              <li>{{ content.page_body.accordion_bullet1_sub2 | markdownify }}</li>
              <li>{{ content.page_body.accordion_bullet1_sub3 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet2 | markdownify }}</h3>
            <ul>
              <li class="margin-bottom-0 inline">{{ content.page_body.accordion_bullet2_sub1 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet3 | markdownify }}</h3>
            <ul>
              <li>{{ content.page_body.accordion_bullet3_sub1 | markdownify }}</li>
              <li>{{ content.page_body.accordion_bullet3_sub2 | markdownify }}</li>
              <li><p>{{ content.page_body.accordion_bullet3_sub3 | markdownify }}</p></li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet4 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_bullet4_sub1 | markdownify }}</li>
              <li><p>{{ content.page_body.accordion_bullet4_sub2 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet5 | markdownify }}</h3>
            <ul>
              <li>{{ content.page_body.accordion_bullet5_sub1 | markdownify }}</li>
              <li>{{ content.page_body.accordion_bullet5_sub2 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet6 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_bullet6_sub1 | markdownify }}</li>
              <li>{{ content.page_body.accordion_bullet6_sub2 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_bullet7 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_bullet7_sub1 | markdownify }}</li>
            </ul>
          </li>
        </ul>
        <p>{{ content.page_body.accordion_content5b | markdownify }}</p>
     
      </div>     
      </div> 
      <h2 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="m-a6"
        >
          {{ content.page_body.accordion_header7 | markdownify }}
        </button>
      </h2>
      <div id="m-a6" class="usa-accordion__content" data-allow-multiple>
        <ul class="add-list-reset">
          <li><h3 class="usa-prose">{{ content.page_body.accordion_header7_item1 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_h7_item1_sub1 | markdownify }}</li>
              <li>{{ content.page_body.accordion_h7_item1_sub2 | markdownify }}</li>
            </ul>
          </li> 
          <li><h3 class="usa-prose">{{ content.page_body.accordion_header7_item2 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_h7_item2_sub1 | markdownify }}</li>
              <li>{{ content.page_body.accordion_h7_item2_sub2 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_header7_item3 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_h7_item3_sub1 | markdownify }}</li>
            </ul>
          </li>
          <li><h3 class="usa-prose">{{ content.page_body.accordion_h7_item4 | markdownify }}</h3>
          <ul>
              <li>{{ content.page_body.accordion_h7_item4_sub1 | markdownify }}</li>
            </ul>
          </li>
        </ul> 
      </div>
    </div>        
  </section>
  
  <iframe id="applicationFrame" class="site-c-apply" src="https://eop-fra.secure.force.com/digitalservice/" title="Join USDS form"></iframe>
  
  <script>
    // Checks height of Salesforce apply form and applies to iframe

    var ifr = document.getElementById("applicationFrame");
    var isTestingMode = false;

    function resizeApplicationFrame(height){
      try{
        var frameResizedHeight = parseInt(height) + 25;
        if(isTestingMode){
          console.log(frameResizedHeight);
        } else{
          ifr.style.height = frameResizedHeight + "px";
        }
      }
      catch {
      }
    }

    window.addEventListener('message', function (e) {
      var eventName = e.data[0];
      var data      = e.data[1];

      switch (eventName) {
        case 'applicationFormHeight':
          resizeApplicationFrame(data);
          break;
      }
    }, false);
  </script>

  <section class="site-c-section">
    <div class="usa-prose">
      {{ content.eoe_statement | markdownify }}
    </div>
  </section>

</div>
