---
layout: default
title: Apply to USDS
description: The United States Digital Service is transforming how the federal government works for the American people. And we need you.
permalink: /apply
banner_file: banner--join-us-lg.svg
banner_file_mobile: banner--join-us-sm.svg
social_image: social-card--join-us.png

redirect_from:
  - /join
---
{% assign content = site.data.apply %}


<div class="grid-container">
  <section class="site-c-section">
    {% if content.page_alert %}
      <div class="usa-alert usa-alert--info margin-bottom-4">
        <div class="usa-alert__body">
          {% if content.page_alert.alert_heading %}
            <h3 class="usa-alert__heading">{{ content.page_alert.alert_heading }}</h3>
          {% endif %}
          <p class="usa-alert__text">{{ content.page_alert.alert_body }}</p>
        </div>
      </div>
    {% endif %}
    <div class="site-c-section-heading site-c-section-heading">
      <h1 class="site-c-section-heading__heading site-c-section-heading__heading--h1">{{ content.page_title.heading_title }}</h1>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.page_title.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/faq.html %}">{{ content.page_title.heading_button_text }}</a>
      </div>
    </div>
  </section>

  <hr>

  <section class="site-c-section">
    <div class="grid-row grid-gap usa-prose">
      <div class="tablet:grid-col-6">
        {{ content.page_body.hiring_process | markdownify }}
      </div>
      <div class="tablet:grid-col-6">
        {{ content.page_body.requirements | markdownify }}
        {{ content.page_body.compensation_benefits | markdownify }}
      </div>
    </div>
  </section>
  
  <iframe id="applicationFrame" class="site-c-apply" src="https://eop-fra.secure.force.com/digitalservice/" title="Join USDS form"></iframe>
  
  <script>
    // Checks height of Salesforce apply form and applies to iframe

    var ifr = document.getElementById("applicationFrame");
    var isTestingMode = false;

    function resizeApplicationFrame(height){
      try{
        var frameResizedHeight = parseInt(height) + 25;
        if(isTestingMode){
          console.log(frameResizedHeight);
        } else{
          ifr.style.height = frameResizedHeight + "px";
        }
      }
      catch {
      }
    }

    window.addEventListener('message', function (e) {
      var eventName = e.data[0];
      var data      = e.data[1];

      switch (eventName) {
        case 'applicationFormHeight':
          resizeApplicationFrame(data);
          break;
      }
    }, false);
  </script>

  <section class="site-c-section">
    <div class="usa-prose">
      {{ content.eoe_statement | markdownify }}
    </div>
  </section>

</div>
