---
layout: default
description: The United States Digital Service is transforming how the federal government works for the American people. And we need you.
permalink: /
social_image: social-card--homepage.jpg

redirect_from:
  - /join-government
---

{% assign content = site.data.home %}

<div class="site-c-page-banner site-c-page-banner--min-height">
  <img src="{{ site.baseurl }}/assets/img/banner--home-lg.jpg" srcset="{{ site.baseurl }}/assets/img/banner--home-sm.jpg 640w,
        {{ site.baseurl }}/assets/img/banner--home-lg.jpg" alt="">
  <div class="site-c-page-banner__text">
    <div class="grid-container">
      <h1 class="site-c-page-banner__header">{{ content.hero.heading_title }}</h1>
      <a class="usa-button usa-button--outline usa-button--inverse usa-button--big" href="{{ site.baseurl }}{% link pages/apply.html %}">{{ content.hero.heading_button_text }}</a>
    </div>
  </div>
</div>

<div class="grid-container">
  <section class="site-c-section">
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-7 desktop:grid-col-8 site-c-section-heading site-c-section-heading--keep-column tablet:padding-right-3">
        <h2 class="site-c-section-heading__heading">{{ content.mission.heading_title }}</h2>
        <div class="site-c-section-heading__text usa-prose">
          {{ content.mission.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
        </div>
        <div class="site-c-section-heading__links">
          <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/mission.html %}">{{ content.mission.heading_button_text }}</a>
        </div>
      </div>
      <div class="grid-col-12 tablet:grid-col-5 desktop:grid-col-4 tablet:padding-left-3 padding-top-7 ">

      </div>
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.work.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.work.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/projects.html %}">{{ content.work.heading_button_text }}</a>
      </div>
    </div>
    <div class="site-c-section__body">
      {% include carousel-projects.html %}
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.people.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.people.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/people.html %}">{{ content.people.heading_button_text }}</a>
      </div>
    </div>
    <div class="site-c-section__body">
      {% include carousel-people.html %}
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.news.heading_title }}</h2>
      <div class="site-c-section-heading__links card:display-none tablet:display-block">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/news-and-blog.html %}" class="usa-button usa-button--outline">{{ content.news.heading_button_text }}</a>
      </div>
    </div>

    <div class="site-c-section__body">

      {% include news-articles.html %}

      <p class="tablet:display-none">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/news-and-blog.html %}" class="usa-button usa-button--outline">{{ content.news.heading_button_text }}</a>
      </p>
    </div>

  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.community.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.community.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        {% include _social-buttons.html %}
      </div>
    </div>
  </section>

</div>
