---
layout: default
title: How we work
banner_file: banner--how-we-work-lg.svg
banner_file_mobile: banner--how-we-work-sm.svg
permalink: /how-we-work
social_image: social-card--how-we-work.png
social_image_alt_text: "Graphic illustration of gray, blue and yellow colored sticky notes arranged in a grid. Some of the notes are blank, some have writing on them, and one has a dog-eared corner."

redirect_from:
  - /work
---

{% assign content = site.data.how_we_work %}

<div class="grid-container">
  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h1 class="site-c-section-heading__heading site-c-section-heading__heading--h1">{{ content.page_title.heading_title }}</h1>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.page_title.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.roles_heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.roles_heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
    </div>
    <div class="site-c-section__body">

      {% for role in content.delivery_roles %}
      <div class="grid-row margin-top-8">
        <div class="grid-col-12">
          <h3 class="margin-top-0">{{ role.heading }}</h3>
        </div>
        <div class="grid-col-12 tablet:grid-col-8 tablet:padding-right-4 desktop:padding-right-0 order-3 tablet:order-2 usa-prose">
          {{ role.text | replace: 'site.baseurl', site.baseurl | markdownify}}
        </div>
        <div class="grid-col-12 tablet:grid-col-4 order-2 tablet:order-3 margin-bottom-3">
          <img class="width-full" src="{{ site.baseurl }}/assets/img/{{ role.image }}" alt="">
        </div>
      </div>
      {% endfor %}

    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.best_practices.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.best_practices.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="https://playbook.cio.gov/">{{ content.best_practices.heading_button_text }}</a>
      </div>
    </div>
    <div class="site-c-section__body">
      <div class="grid-row tablet:margin-x-neg-2">


        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-2 margin-bottom-5">
          <div class="site-c-mask padding-right-7">
            <img class="width-full" src="{{ site.baseurl }}/assets/img/{{ content.best_practices.col_1_image }}" alt="">
          </div>
          <h3 class="font-sans-md">{{ content.best_practices.col_1_heading }}</h3>
          <div class="usa-prose">
          {{ content.best_practices.col_1_text | replace: 'site.baseurl', site.baseurl | markdownify}}
          </div>
        </div>

        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-2 margin-bottom-5">
          <div class="site-c-mask padding-right-7">
            <img class="width-full" src="{{ site.baseurl }}/assets/img/{{ content.best_practices.col_2_image }}" alt="">
          </div>
          <h3 class="font-sans-md">{{ content.best_practices.col_2_heading }}</h3>
          <div class="usa-prose">
          {{ content.best_practices.col_2_text | replace: 'site.baseurl', site.baseurl | markdownify}}
          </div>
        </div>

        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-2 margin-bottom-5">
          <div class="site-c-mask padding-right-7">
            <img class="width-full" src="{{ site.baseurl }}/assets/img/{{ content.best_practices.col_3_image }}" alt="">
          </div>
          <h3 class="font-sans-md">{{ content.best_practices.col_3_heading }}</h3>
          <div class="usa-prose">
          {{ content.best_practices.col_3_text | replace: 'site.baseurl', site.baseurl | markdownify}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.projects.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.projects.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/projects.html %}">{{ content.projects.heading_button_text }}</a>
      </div>
    </div>
    <div class="site-c-section__body">
      {% include carousel-projects.html %}
    </div>
  </section>

</div>
