---
layout: default
title: News and blog
permalink: /news-and-blog
banner_file: banner--news-media-lg.svg
banner_file_mobile: banner--news-media-sm.svg
social_image: social-card--news-and-media.png
social_image_alt_text: "Graphic illustration of two spotlights projecting downward on a dark blue field. A bright yellow area is highlighted where the two spotlights overlap."

redirect_from:
  - /blog
  - /events
---

{% assign content = site.data.news_and_blog %}

<div class="grid-container">
  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h1 class="site-c-section-heading__heading site-c-section-heading__heading--h1">{{ content.page_title.heading_title }}</h1>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.page_title.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
    </div>
  </section>

  <hr aria-hidden="true">

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.inside_look.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.inside_look.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
    </div>
  </section>

<div class="grid-container news-container">
  <section class="site-c-section">
    <div class="site-c-section__body">
      <ul class="site-c-cards margin-x-neg-2 grid-row">
        {% assign blog_posts = site.news-and-blog | where: "carousel_show", "true" %}
        {% for item in blog_posts reversed %}
        <li class="tablet:grid-col-6 desktop:grid-col-4 padding-x-2 margin-bottom-4">
          <a class="site-c-card site-c-card--linked" href="{{ site.baseurl }}{{ item.url }}" >
            {% if item.carousel_image %}
              <img src="{{ site.baseurl }}{{ item.carousel_image }}" alt="{{ item.carousel_image_alt_text }}" class="site-c-card__image"/>
            {% endif %}
            <div class="site-c-card__body">
              <span class="site-c-flag">{{ item.dateline_str }}</span>
              <h3 class="site-c-card__title">{{ item.carousel_title }}</h3>
              {% if item.carousel_summary %}
                <div class="usa-prose margin-top-2">
                  <p>{{ item.carousel_summary }}</p>
                  <p class="site-c-card__affordance" aria-hidden="true">Read full post</p>
                </div>
              {% endif %}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

</div>
