---
layout: default
title: Our people
permalink: /people
description: USDS team members have diverse industry backgrounds, from Silicon Valley startups to nonprofits to civic tech. What we all share is a passion to fulfill the USDS mission. Meet a few of our current and former staff and read their unique USDS origin stories.
---

{% assign content = site.data.people %}

<div class="grid-container">
  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h1 class="site-c-section-heading__heading site-c-section-heading__heading--h1">{{ content.page_title.heading_title }}</h1>
      <div class="site-c-section-heading__text usa-prose">
        <p>{{ content.page_title.heading_text }}</p>
      </div>
    </div>
  </section>
  <hr aria-hidden="true">
  <section class="site-c-section">
    <div class="site-c-section__body">
      <div class="site-c-cards margin-x-neg-2 grid-row">
        {% for person in site.people %}
        <div class="tablet:grid-col-6 desktop:grid-col-4 padding-x-2 margin-bottom-4">
          {% include card-people.html %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
