@use "uswds-core" as *;

.tablet\:order-2 {
  @include at-media(tablet) {
    order: 2;
  }
}

.tablet\:order-3 {
  @include at-media(tablet) {
    order: 3;
  }
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.tablet\:flex-row {
  @include at-media(tablet) {
    flex-direction: row;
  }
}

.tablet\:flex-row-reverse {
  @include at-media(tablet) {
    flex-direction: row-reverse;
  }
}