$color-usds-blue-medium:          #064e96; // 508 compliant
$color-usds-blue-medium-light:    #6a95c0;

$color-usds-blue-bright:          #0084ce;
$color-usds-blue-bright-dark:     #0071bc; // 508 compliant
$color-usds-blue-bright-light:    #80c1e6;
$color-usds-blue-bright-lighter:  #bfe0f3;

$color-usds-navy:                 #103c68; // 508 compliant
$color-usds-navy-dark:            #122d44; // 508 compliant
$color-usds-navy-light:           #577795; // 508 compliant

$color-usds-gold:                 #a39634;
$color-usds-gold-dark:            #75692a; // 508 compliant

$color-usds-yellow:               #e0cb26;
$color-usds-yellow-light:         #f0e593;

$color-usds-gray:                 #5d5d5d; // 508 compliant
$color-usds-gray-dark:            #3f3f3f; // 508 compliant
$color-usds-gray-light:           #969696;
$color-usds-gray-lighter:         #c6c6c6;
$color-usds-gray-lightest:        #ececec;

$asset-path: '../';
$image-path: '#{$asset-path}img';

@use "uswds-core" with (
  // Base color changes
  $theme-color-base:          $color-usds-gray,
  $theme-color-base-dark:     $color-usds-gray-dark,
  $theme-color-base-light:    $color-usds-gray-light,

  // Primary color changes
  $theme-color-primary-lightest:  $color-usds-blue-bright-light,
  $theme-color-primary-lighter:   $color-usds-blue-bright,
  $theme-color-primary-light:     $color-usds-blue-medium-light,
  $theme-color-primary:           $color-usds-blue-medium,
  $theme-color-primary-vivid:     $color-usds-blue-bright-dark,
  $theme-color-primary-dark:      $color-usds-navy,
  $theme-color-primary-darker:    $color-usds-navy-dark,
  $theme-color-primary-darkest:   $color-usds-navy-dark,

  // Warm color changes
  $theme-color-accent-warm-lighter: $color-usds-yellow-light,
  $theme-color-accent-warm-light: $color-usds-yellow,
  $theme-color-accent-warm: $color-usds-gold,
  $theme-color-accent-warm-dark: $color-usds-gold-dark
);
